@media (min-width: 1440px) {
  .content {
    width: 1440px;
  }

  /* HEADER */

  /* START */
  .start .description {
    top: 400px;
  }

  .start .start-title {
    font-size: 50px;
    line-height: 66px;
  }

  .start .start-text {
    font-size: 18px;
    line-height: 24px;
  }

  /* ABOUT US */

  .about-us .title-img {
    height: 700px;
  }

  .about-us .description {
    gap: 80px;
  }

  .about-us .description-text {
    font-size: 18px;
    line-height: 19px;
  }

  .about-us .btn-left {
    width: 130px;
    height: 55px;

    border-radius: 30px;

    font-size: 14px;
    line-height: 19px;
  }

  .about-us .btn-right {
    width: 130px;
    height: 55px;

    border-radius: 30px;

    font-size: 14px;
    line-height: 19px;
  }

  /* EVENTS */

  .events {
    margin-top: 60px;

    gap: 100px;
  }

  .events .card {
    width: 220px;
    height: 313px;

    gap: 30px;
  }

  .events .title {
    font-size: 24px;
    line-height: 24px;
  }

  .events .card-btn {
    width: 120px;
    height: 45px;

    border-radius: 30px;

    font-size: 14px;
    line-height: 24px;
  }

  /* SERVICES */

  .services {
    margin-top: 100px;
  }

  .services .services-title {
    font-size: 38px;
    line-height: 50px;
  }

  .services .cards {
    margin-top: 70px;

    grid-template-columns: repeat(3, 300px);
    gap: 30px;
  }

  .services .card {
    width: 300px;
    height: 215px;

    border-radius: 5px;

    gap: 10px;
  }

  .services .card-title {
    font-size: 20px;
    line-height: 26px;
  }

  .services .card-text {
    font-size: 14px;
    line-height: 19px;
  }

  /* MY WORKS */

  .my-works {
    margin-top: 100px;
  }

  .my-works .title {
    font-size: 38px;
    line-height: 50px;
  }

  .my-works .second-videos {
    margin-top: 80px;

    grid-template-columns: repeat(2, 560px);
    gap: 30px;
  }

  .my-works .second-videos iframe {
    width: 560px;
    height: 315px;
  }

  .my-works .third-photos {
    margin-top: 80px;

    grid-template-columns: repeat(3, 400px);
    gap: 30px;
  }

  .my-works .photo {
    width: 400px;
    height: 500px;
  }

  /* RATES */

  .rates {
    margin-top: 80px;
  }

  /* RATES VIDEO */

  .rates .rates-video .rates-video-title {
    font-size: 40px;
    line-height: 53px;
  }

  .rates .rates-video .rates-video-subtitle {
    margin-top: 20px;

    font-size: 16px;
    line-height: 21px;
  }

  .rates .rates-video .container {
    margin-top: 30px;
  }

  .rates .rates-video .list {
    gap: 30px;
  }

  .rates .rates-video .list:nth-child(1) {
    width: 20vw;
  }

  .rates .rates-video .list:nth-child(2) {
    width: 30vw;
  }

  .rates .rates-video .list-title {
    font-size: 24px;
    line-height: 32px;
  }

  .rates .rates-video .item-left {
    gap: 20px;
  }

  .rates .rates-video .item-left-title {
    font-size: 18px;
    line-height: 24px;
  }

  .rates .rates-video .item-left-text {
    font-size: 14px;
    line-height: 19px;
  }

  .rates .rates-video .item-right-text {
    font-size: 18px;
    line-height: 24px;
  }

  /* RATES PHOTO */

  .rates .rates-photo .title {
    margin-top: 50px;

    font-size: 40px;
    line-height: 53px;
  }

  .rates .rates-photo .cards {
    margin-top: 50px;
  }

  .rates .rates-photo .card {
    width: 360px;
    height: 620px;

    border-radius: 10px;
  }

  .rates .rates-photo .card-name {
    margin-top: 35px;

    font-size: 20px;
    line-height: 26px;
  }

  .rates .rates-photo .card-text {
    margin-top: 20px;

    font-size: 16px;
    line-height: 21px;
  }

  .rates .rates-photo .card-price {
    margin-top: 35px;

    font-size: 36px;
    line-height: 48px;
  }

  .rates .rates-photo .card-button {
    width: 120px;
    height: 45px;

    border-radius: 30px;

    font-size: 14px;
    line-height: 19px;
  }

  /* FORM */

  .my-form {
    margin-top: 40px;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .my-form .form-title {
    font-size: 24px;
    line-height: 32px;
  }

  .my-form .form {
    margin-top: 70px;

    gap: 20px;
  }

  .my-form .input-name {
    margin-left: 30px;

    font-size: 20px;
    line-height: 26px;
  }

  .my-form .input-text {
    width: 230px;
    height: 60px;
    margin-top: 10px;
    padding-left: 20px;

    border-radius: 30px;
  }

  .my-form .form-button {
    width: 230px;
    height: 60px;

    border-radius: 30px;

    font-size: 16px;
    line-height: 21px;
  }

  .my-form .form-text {
    margin-top: 20px;

    font-size: 16px;
    line-height: 21px;
  }

  /* FOOTER */

  .footer {
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .footer .copyright {
    font-size: 16px;
    line-height: 21px;
  }

  .footer .text {
    font-size: 40px;
    line-height: 53px;
  }
}
